[Unit]
Description=
Documentation=
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/libexec/hp-vendor daily
