Source: pop-hp-vendor
Section: admin
Priority: optional
Maintainer: System76 <info@system76.com>
Build-Depends:
  debhelper-compat (= 11),
  cargo,
  clang,
  dkms,
  libclang-dev,
  libsensors-dev,
  libsqlite3-dev,
  libssl-dev,
  libudev-dev,
  nvme-cli,
  pkg-config,
Standards-Version: 4.1.1
Homepage: https://github.com/pop-os/hp-vendor

Package: pop-hp-vendor
Architecture: amd64 arm64
Depends:
  pop-hp-vendor-dkms,
  systemd,
  ${misc:Depends},
  ${shlibs:Depends}
Description: HP vendor support

Package: pop-hp-vendor-dkms
Architecture: amd64 arm64
Depends: ${misc:Depends}
Description: HP vendor kernel driver
 This DKMS driver provides fan support for HP products
